<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>冰纤肌美容信息管理系统</title>
    <meta content="text/html;charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Beauty Management System"/>
    <meta name="author" content="Dave Pu, Jason Yang"/>
    <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{vendor/bootstrap-validator/bootstrapValidator.min.css}" rel="stylesheet"/>
    <link th:href="@{vendor/metisMenu/metisMenu.min.css}" rel="stylesheet"/>
    <link th:href="@{vendor/admin/css/sb-admin-2.css}" rel="stylesheet"/>
    <link th:href="@{vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{vendor/jquery-ui/jquery-ui.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{vendor/bootstrap/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" type="text/css"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{vendor/respond/html5shiv.js}"></script>
    <script th:src="@{vendor/respond/respond.min.js}"></script>
    <![endif]-->
    <style>
        .table>thead>tr>th { text-align: center;}

        .width10 {
            margin-right: 10px;
        }
    </style>
</head>
<body>
</body>
</html>