<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>冰纤肌美容信息管理系统</title>
    <meta content="text/html;charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <!-- MetisMenu CSS -->
    <link th:href="@{vendor/metisMenu/metisMenu.min.css}" rel="stylesheet" type="text/css"/>
    <!-- Custom CSS -->
    <link th:href="@{dist/css/sb-admin-2.css}" rel="stylesheet" type="text/css"/>
    <!-- Custom Fonts -->
    <link th:href="@{vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{js/html5shiv.js}"></script>
    <script th:src="@{js/respond.min.js}"></script>
    <![endif]-->
    <style>
        #main {
            margin-top: 10%;
        }

        .foot {
            text-align: center;
            color: darkgray;
        }
    </style>
</head>
<body>

<div class="container" id="main">

    <div class="row">
        <div class="col-md-4  col-md-offset-4" style="text-align: center">
            <h2>冰纤肌美容信息管理系统</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">登录</h3>
                </div>
                <div class="panel-body">
                    <form name="loginform" action="login" method="POST" accept-charset="UTF-8" role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="请输入用户名" name="name" type="text"/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="请输入密码" name="password" type="password" value=""/>
                            </div>
                            <div style="text-align:center;color:darkred">
                                <span th:text="${msg}"></span>
                            </div>
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="登 录"/>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="foot">
        Copyright ©2017 冰纤肌 All Rights Reserved
    </div>
</div>
<!-- jQuery -->
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<!-- Bootstrap Core JavaScript -->
<script th:src="@{vendor/bootstrap/js/bootstrap.min.js}"></script>
<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{vendor/metisMenu/metisMenu.min.js}"></script>
<!-- Custom Theme JavaScript -->
<script th:src="@{vendor/admin/js/sb-admin-2.js}"></script>
</body>
</html>