<html xmlns="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
    <link rel="stylesheet" th:href="@{vendor/ztree//css/zTreeStyle/zTreeStyle.css}" type="text/css"/>
</head>
<body>
<div th:include="fragments/nav :: nav"></div>

<div id="wrapper">
    <div id="page-wrapper">
        您没有权限访问此页面
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->

<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{vendor/metisMenu/metisMenu.min.js}"></script>
<script th:src="@{vendor/admin/js/sb-admin-2.js}"></script>
<script th:src="@{vendor/bootstrap-validator/bootstrapValidator.min.js}"></script>
<script th:src="@{vendor/jquery-form-autofill/jQuery-form-autofill.js}"></script>
<script th:src="@{vendor/ztree/js/jquery.ztree.core.js}"></script>
</body>

</html>
