<html xmlns="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
    <link rel="stylesheet" th:href="@{vendor/ztree//css/zTreeStyle/zTreeStyle.css}" type="text/css"/>
</head>
<body>
<div th:include="fragments/nav :: nav"></div>

<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
        </div>
        <hr/>
        <div class="row">
            <div class="col-lg-12">
                <div id="resourceAlert" class="alert alert-success alert-dismissable hidden">
                    <button id="btnCloseResourceAlert" type="button" class="close">&times;</button>
                    <span id="alertMsg"></span>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>权限树</strong>
                    </div>
                    <div class="panel-body">
                        <div class="container">
                            <div class="row clearfix">
                                <div class="col-md-4 column">
                                    <div class="zTreeDemoBackground">
                                        <ul id="resourceTree" class="ztree"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->

<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{vendor/metisMenu/metisMenu.min.js}"></script>
<script th:src="@{vendor/admin/js/sb-admin-2.js}"></script>
<script th:src="@{vendor/bootstrap-validator/bootstrapValidator.min.js}"></script>
<script th:src="@{vendor/jquery-form-autofill/jQuery-form-autofill.js}"></script>
<script th:src="@{vendor/ztree/js/jquery.ztree.core.js}"></script>
<script th:src="@{bms/public/js/public.js}"></script>
<script th:src="@{bms/authorize/js/resource.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var setting = {
        data: {
            simpleData: {
                enable: true
            }
        }
    };

    // 获取model数据
    var resources = JSON.parse([[${resources}]]);
    var zNodes = [];
    // 组装treeNode数据
    for (var i in resources) {
        if (resources[i].id == 1) {
            // id=1时, 设置为根节点
            zNodes.push({
                id: resources[i].id,
                pId: resources[i].parentId,
                name: resources[i].name,
                isParent: true,
                open: true
            });
        } else {
            zNodes.push({id: resources[i].id, pId: resources[i].parentId, name: resources[i].name, open: true});
        }
    }

    $(document).ready(function () {
        $.fn.zTree.init($("#resourceTree"), setting, zNodes);
    });

    /*]]>*/
</script>
</body>

</html>
