<html xmlns="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
    <link rel="stylesheet" th:href="@{vendor/ztree//css/zTreeStyle/zTreeStyle.css}" type="text/css"/>
</head>
<body>
<div th:include="fragments/nav :: nav"></div>

<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div role="form">
                <div class="col-lg-4">
                    <label>角色名称</label><input id="queryBean_roleName" name="roleName" class="form-control"/>
                </div>
                <div class="col-lg-4">
                    <label>角色描述</label><input id="queryBean_roleDesc" name="roleDesc" class="form-control"/>
                </div>
                <div class="col-lg-4">
                    <button id="btnSelect" type="button" class="btn btn-outline btn-success" style="margin-top:1.7em;">查 询</button>
                    <button id="btnResetQueryRoleForm" type="button" class="btn btn-outline btn-default" style="margin-top:1.7em;">重 置</button>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <hr/>
        <div class="row">
            <div class="col-lg-12">
                <!-- 用户表单模态框-->
                <div class="modal fade" id="roleModal" tabindex="-1" role="dialog" aria-labelledby="roleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="roleModalLabel">
                                    新增角色
                                </h4>
                            </div>
                            <form id="saveRoleForm" role="form" action="" method="post">
                                <div class="modal-body">
                                    <div class="row">
                                        <input class="form-control" type="hidden" id="id" name="id"/>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label>角色名称</label>
                                                <input class="form-control" id="roleName" name="roleName"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label>角色描述</label>
                                                <textarea class="form-control" rows="2" id="roleDesc"
                                                          name="roleDesc"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- modal-body end!-->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <input id="btnSaveRole" type="submit" class="btn btn-primary" value="保存"/>
                                    <button type="button" class="btn btn-info hidden" id="resetBtn">重置表单</button>
                                </div>
                            </form>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>

                <div id="roleAlert" class="alert alert-success alert-dismissable hidden">
                    <button id="btnCloseRoleAlert" type="button" class="close">&times;</button>
                    <span id="alertMsg"></span>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button type="button" id="addRoleBtn" class="btn btn-outline btn-primary" data-toggle="modal"
                                data-target="#roleModal"><i class="fa fa-plus"></i>新增角色
                        </button>
                        &nbsp;&nbsp;
                        <button type="button" id="editRoleBtn" class="btn btn-outline btn-warning"><i
                                class="fa fa-pencil"></i>编辑角色
                        </button>
                        &nbsp;&nbsp;
                        <button type="button" id="setRoleResourceBtn" class="btn btn-outline btn-info"><i
                                class="fa fa-gear"></i>设置角色权限
                        </button>
                        &nbsp;&nbsp;
                        <button type="button" id="delRoleBtn" class="btn btn-outline btn-danger"><i
                                class="fa fa-times"></i>删除角色
                        </button>
                    </div>
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-role">
                            <thead>
                            <tr>
                                <th width="5%;"></th>
                                <th class="hidden">ID</th>
                                <th width="">角色名称</th>
                                <th width="">角色描述</th>
                            </tr>
                            </thead>
                            <tbody id="role-list">
                            <!-- 动态加载数据-->
                            </tbody>
                        </table>
                        <div id="loadingDiv" style="text-align: center">
                            <img th:src="@{images/loading.gif}" height="100em;"/>
                        </div>

                        <div class="form-inline" style="float:right;">
                            <span>共<span id="pages"></span>页</span>
                            <span>每页条数:</span>
                            <select id="pageSize" class="form-control">
                                <option value="5">5</option>
                                <option value="10" selected="selected">10</option>
                                <option value="20">20</option>
                            </select>
                            <a href="javascript:void(0)" id="firstPage" class="btn btn-outline btn-info">第一页</a>
                            <a id="prevPage" class="btn btn-outline btn-info">上一页</a>
                            <input id="pageNum" class="form-control" type="text" size="5" value="1" style="vertical-align:middle"/>
                            <a id="nextPage" class="btn btn-outline btn-info">下一页</a>
                            <a id="lastPage" class="btn btn-outline btn-info">最后一页</a>
                            <span>共<span id="totalNum"></span>条记录</span>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="delModalLabel">
                                    提示
                                </h4>
                            </div>
                            <div class="modal-body">
                                确定要删除吗?
                                <!-- modal-body end!-->
                            </div>
                            <div class="modal-footer">
                                <input type="hidden" id="checkedRoleIds_input"/>
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-info" id="btnConfirm" onclick="deleteByIds()"
                                        data-dismiss="modal">确定
                                </button>
                            </div>

                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>

                <div class="modal fade" id="setResourceModal" tabindex="-1" role="dialog"
                     aria-labelledby="setResourceModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="setResourceModalLabel">
                                    设置角色权限
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="zTreeDemoBackground">
                                    <ul id="resourceTree" class="ztree"></ul>
                                </div>
                                <!-- modal-body end!-->
                            </div>
                            <div class="modal-footer">
                                <input type="hidden" id="checkedRoleIds_setResource"/>
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-info" id="btnSaveRoleResource"
                                        onclick="setRoleResource()">保存
                                </button>
                            </div>

                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
            </div>

        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->

<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{vendor/metisMenu/metisMenu.min.js}"></script>
<script th:src="@{vendor/admin/js/sb-admin-2.js}"></script>
<script th:src="@{vendor/bootstrap-validator/bootstrapValidator.min.js}"></script>
<script th:src="@{vendor/jquery-form-autofill/jQuery-form-autofill.js}"></script>
<script th:src="@{vendor/ztree/js/jquery.ztree.core.js}"></script>
<script th:src="@{vendor/ztree/js/jquery.ztree.excheck.js}"></script>
<script th:src="@{bms/public/js/public.js}"></script>
<script th:src="@{bms/authorize/js/role.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var setting = {
        view: {
            selectedMulti: false
        },
        check: {
            enable: true
        },
        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {

        }
    };

    // 获取model数据
    var resources = JSON.parse([[${resources}]]);
    var zNodes = [];
    // 组装treeNode数据
    for (var i in resources) {
        if (resources[i].id == 1) {
            // id=1时, 设置为根节点
            zNodes.push({
                id: resources[i].id,
                pId: resources[i].parentId,
                name: resources[i].name,
                isParent: true,
                open: true
            });
        } else {
            zNodes.push({
                id: resources[i].id,
                pId: resources[i].parentId,
                name: resources[i].name,
                open: true
            });
        }
    }

    $(document).ready(function () {
        $.fn.zTree.init($("#resourceTree"), setting, zNodes);
    });

    /*]]>*/
</script>
</body>

</html>
