<html xmlns="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
    <link rel="stylesheet" th:href="@{vendor/ztree//css/zTreeStyle/zTreeStyle.css}" type="text/css"/>
</head>
<body>
<div th:include="fragments/nav :: nav"></div>

<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div role="form">
                <div class="col-lg-3">
                    <label>所在单位</label>
                    <select id="queryBean_corpId" class="form-control" name="corpId">

                    </select>
                </div>
                <div class="col-lg-3">
                    <label>所在部门</label>
                    <select class="form-control" name="deptId" id="queryBean_deptId">

                    </select>
                </div>
                <div class="col-lg-3">
                    <label>用户名</label><input id="queryBean_name" name="name" class="form-control"/>
                </div>
                <div class="col-lg-3">
                    <button id="btnSelect" type="button" class="btn btn-outline btn-success" style="margin-top:1.7em;">查
                        询
                    </button>
                    <button id="btnResetQueryUserForm" type="button" class="btn btn-outline btn-default"
                            style="margin-top:1.7em;">重 置
                    </button>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <hr/>
        <div class="row">
            <div class="col-lg-12">
                <!-- 用户表单模态框-->
                <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="userModalLabel">
                                    新增用户
                                </h4>
                            </div>
                            <form id="saveUserForm" role="form" action="" method="post" class="form-horizontal">
                                <div class="modal-body">
                                    <div class="row">
                                        <input type="hidden" id="id" name="id"/>
                                        <input type="hidden" id="corpId" name="corpId"/>
                                        <input type="hidden" id="deptId" name="deptId"/>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="col-md-3 column">
                                            <div class="zTreeDemoBackground">
                                                <ul id="organizationTree" class="ztree"></ul>
                                            </div>
                                        </div>

                                        <div class="col-md-9 column">
                                            <div class="form-group">
                                                <label class="col-lg-3 control-label">用户名</label>
                                                <div class="col-lg-9">
                                                    <input class="form-control" id="name" name="name"/>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-lg-3 control-label">昵称</label>
                                                <div class="col-lg-9">
                                                    <input class="form-control" id="realName" name="realName"/>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <!-- modal-body end!-->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <input id="btnSaveUser" type="submit" class="btn btn-primary" value="保存"/>
                                    <button type="button" class="btn btn-info hidden" id="resetBtn">重置表单</button>
                                </div>
                            </form>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>

                <div id="userAlert" class="alert alert-success alert-dismissable hidden">
                    <button id="btnCloseUserAlert" type="button" class="close">&times;</button>
                    <span id="alertMsg"></span>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button id="addUserBtn" class="btn btn-outline btn-primary"><i class="fa fa-plus"></i>新增用户
                        </button>
                        &nbsp;&nbsp;
                        <button id="editUserBtn" class="btn btn-outline btn-warning"><i class="fa fa-pencil"></i>修改用户信息
                        </button>
                        &nbsp;&nbsp;
                        <button id="userRoleBtn" class="btn btn-outline btn-info"><i class="fa fa-gear"></i>设置用户角色
                        </button>
                        &nbsp;&nbsp;
                        <button id="delUserBtn" class="btn btn-outline btn-danger"><i class="fa fa-times"></i>删除用户
                        </button>
                    </div>
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-user">
                            <thead>
                            <tr>
                                <th width="5%;"></th>
                                <th class="hidden">ID</th>
                                <th width="10%">用户名</th>
                                <th width="15%">昵称</th>
                                <th width="20%">单位</th>
                                <th width="20%">部门</th>
                            </tr>
                            </thead>
                            <tbody id="user-list">
                            <!-- 动态加载数据-->
                            </tbody>
                        </table>
                        <div id="loadingDiv" style="text-align: center">
                            <img th:src="@{images/loading.gif}" height="100em;"/>
                        </div>

                        <div class="form-inline" style="float:right;">
                            <span>共<span id="pages"></span>页</span>
                            <span>每页条数:</span>
                            <select id="pageSize" class="form-control">
                                <option value="5">5</option>
                                <option value="10" selected="selected">10</option>
                                <option value="20">20</option>
                            </select>
                            <a href="javascript:void(0)" id="firstPage" class="btn btn-outline btn-info">第一页</a>
                            <a id="prevPage" class="btn btn-outline btn-info">上一页</a>
                            <input id="pageNum" class="form-control" type="text" size="5" value="1"
                                   style="vertical-align:middle"/>
                            <a id="nextPage" class="btn btn-outline btn-info">下一页</a>
                            <a id="lastPage" class="btn btn-outline btn-info">最后一页</a>
                            <span>共<span id="totalNum"></span>条记录</span>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="delModalLabel">
                                    提示
                                </h4>
                            </div>
                            <div class="modal-body">
                                确定要删除吗?
                                <!-- modal-body end!-->
                            </div>
                            <div class="modal-footer">
                                <input type="hidden" id="checkedUserIds_input"/>
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-info" id="btnConfirm" onclick="deleteByIds()"
                                        data-dismiss="modal">确定
                                </button>
                            </div>

                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>

                <div class="modal fade" id="userRoleModal" tabindex="-1" role="dialog" aria-labelledby="roleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="roleModalLabel">
                                    设置用户角色
                                </h4>
                            </div>
                            <form id="saveUserRoleForm" role="form" action="" method="post">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <input type="hidden" id="user_id"/>
                                            <div class="checkbox" id="roles_checkboxs">

                                            </div>
                                        </div>
                                    </div>
                                    <!-- modal-body end!-->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <input id="btnSaveUserRole" type="submit" class="btn btn-primary" value="保存"/>
                                </div>
                            </form>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>

            </div>

        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->

<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{vendor/metisMenu/metisMenu.min.js}"></script>
<script th:src="@{vendor/admin/js/sb-admin-2.js}"></script>
<script th:src="@{vendor/bootstrap-validator/bootstrapValidator.min.js}"></script>
<script th:src="@{vendor/jquery-form-autofill/jQuery-form-autofill.js}"></script>
<script th:src="@{vendor/ztree/js/jquery.ztree.core.js}"></script>
<script th:src="@{vendor/ztree/js/jquery.ztree.excheck.js}"></script>
<script th:src="@{bms/public/js/public.js}"></script>
<script th:src="@{bms/authorize/js/user.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var setting = {
        data: {
            simpleData: {
                enable: true
            }
        },
        check: {
            enable: true,
            chkStyle: "radio",
            radioType: "all"
        },
        callback: {
            onCheck: zTreeOnCheck,
            onClick: zTreeOnClick
        }
    };
    function zTreeOnClick(event, treeId, treeNode) {
        $.fn.zTree.getZTreeObj("organizationTree").checkNode(treeNode, true, false, true);
    }
    ;

    function zTreeOnCheck(event, treeId, treeNode) {
        $.fn.zTree.getZTreeObj("organizationTree").selectNode(treeNode);
        if (treeNode.id == 1) {
            $("#corpId").val(treeNode.id);
        } else {
            $("#corpId").val(treeNode.pId);
        }

        $("#deptId").val(treeNode.id);
    }

    // 获取model数据
    var organizations = JSON.parse([[${organizations}]]);
    var zNodes = [];
    // 组装treeNode数据
    for (var i in organizations) {
        if (organizations[i].id == 1) {
            // id=1时, 设置为根节点
            zNodes.push({
                id: organizations[i].id,
                pId: organizations[i].pId,
                name: organizations[i].name,
                isParent: true,
                open: true
            });
        } else {
            zNodes.push({id: organizations[i].id, pId: organizations[i].pId, name: organizations[i].name});
        }
    }

    $(document).ready(function () {
        $.fn.zTree.init($("#organizationTree"), setting, zNodes);
    });

    /*]]>*/
</script>
</body>

</html>
